

#myCarLocation {
    margin: 30px 0 30px 0;
    font-size: x-large;
    line-height: 40px;
}

#button {
    margin-top: 30px;
}
.buttons {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 5px;
    font-size: medium;
}
#searchAgain { background-color: #12c386;}
#pay { background-color: #f0b416;}


.my_car_location {
    font-size: larger;
    font-weight: bold;
    color: rgb(199, 13, 13);
}
.my_fee{
    font-size: larger;
    font-weight: bold;
    color: #ff8a00;
}