/* body {
    width: 1280px;
    height: 800px;
    margin: 0 auto;
} */
/* #background {
    text-align: center;
} */
/* #main_img {
    width: 800px;
    height: 800px;
    background-size: contain;
    background-image: url("../admin_img/admin_main_img.jpg");
    float: left;
} */
#right { float: right; }

/* #admin_logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 400px;
    height: 300px;
    background-image: url("../admin_img/admin_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
} */
#login_form {
    padding-right: 50px;
}
input { margin-bottom: 10px; }
.account { 
    width: 300px; height: 30px;
    border-bottom: black 1px solid;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;

}
.login_button {
    width: 310px;
    height: 36px;
    background-color:  #1459f9;
    color: white;
    border: none;
    border-radius: 5px;
}