.search_option {
    margin-bottom: 0;
    text-align: center;
}

.alldata_form {
    width: 1040px;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    float: left;
}

.alldata_btn {
    width: 60px;
    height: 35px;
    background-color: #00cccc;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: large;
    margin-right: 5px;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; */
}
.alldata_date {
    height: 33px;
    width: 155px;
    margin-right: 5px;
    border-color: #00cccc;
    border-width: medium;
    border-style: solid;
}

.alldata_searchbox {
    background-color: white;
    border-color: #00cccc;
    border-width: medium;
    border-style: solid;
    width: 200px;
    height: 33px;
    margin-right: 5px;
}

.alldata_search_btn {
    background-color: #00cccc;
    background-size: cover;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    border: none;
    color: white;
    font-size: large;
}



.alldata_table {
    width: 1000px;
    margin: 20px 20px 0 20px;
    border: none;
    text-align: center;
    border-collapse: collapse;
}
.alldata_table th {
    height: 50px;
    color: white;
    font-size: large;
    background-color: #00cccc;
}
.alldata_table td {
    padding: 10px 0 10px 0;
}